---
layout: page
title: "Galleries"
permalink: /gallery/
thumb_crop: true
---
<div class="gallery">

{% for gallery in site.gallery%}

    <div class="gallery-box{% cycle '', '', ' last' %}">

          <a href="{{ gallery.permalink }}" title="{{ gallery.title }}">

            {% if page.thumb_crop %}

                <!-- cropped square images -->
                {% include img.html src=gallery.main_image_path width=200 height=200 fit=crop alt=gallery.title %}
                <!-- end cropped square -->

              {% else %}

                {% include img.html src=gallery.main_image_path width=600 fit=clip alt=gallery.title %}

              {% endif %}

              <p>{{ gallery.title }}</p>

          </a>

     </div>

{% endfor %}
</div>
