---
layout: page
carousel:
  - image: /assets/images/3243-screen-copy-1.jpg
    caption:
    link:
  - image: /assets/images/3561-screen-copy-2.jpg
    caption:
    link:
  - image: /assets/images/476-screen-copy-1.jpg
    caption:
    link:
  - image: /assets/images/489a-screen.jpg
    caption:
    link:
  - image: /assets/images/122-screen-copy-1.jpg
    caption:
    link:
  - image: /assets/images/3156-screen.jpg
    caption:
    link:
  - image: /assets/images/083a-screen-copy.jpg
    caption:
    link:
  - image: /assets/images/612-screen-copy.jpg
    caption:
    link:
  - image: /assets/images/587-screen-copy-2.jpg
    caption:
    link:
  - image: /assets/images/664-screen-copy-2.jpg
    caption:
    link:
  - image: /assets/images/5366-on-being-purple-detail-copy-2.jpg
    caption:
    link:
  - image: /assets/images/5520-screen-copy-2.jpg
    caption:
    link:
  - image: /assets/images/imgp8042-copy.jpg
    caption:
    link:
  - image: /assets/images/installation-shot-2-copy.jpg
    caption:
    link:
_options:
  layout:
    hidden: true
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
    correct_orientation: true
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---

<section class="blog">

    {% for post in site.posts limit:1 %}

      {% if post.frontpage %}
        <div class="post">
          {% if post.main_image_path %}
            <figure>
              <a href="{{ post.url | prepend: site.baseurl }}">
              {% assign alt_text = post.title %}
              {% if post.image_caption %} {% assign alt_text = post.image_caption %} {% endif %}
              {% include img.html src=post.main_image_path width=200 alt=alt_text %}
              </a>
            </figure>
          {% endif %}

        {{ post.content }}

        </div>
      {% endif %}

    {% endfor %}

  </section>

{% if page.carousel %}

  <section class="carousel">
    <div class="flexslider">
      <ul class="slides">
        {% for slides in page.carousel %}
        <li>
          {% if slides.link %}
          <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
          {% endif %}
          {% include img.html src=slides.image width=960 alt=slides.caption %}
          {% if slides.link %}
          </a>
        {% endif %}
          {% if slides.caption %}
          <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

{% endif %}

<div class="intro editable">
  <p>Madi Acharya-Baskerville is an Asian born diasphora artist, living and working in the UK. Broadly speaking, the themes explored in her work range from environmental concerns, migration and exile and gender issues. What unities them is the found element, matter that already exists around us, an enduring reflection of the human condition. Her practice involves the synthesis of unlikely elements which she sources from different locations, the coastline, woodlands and vintage markets.&nbsp; Using objects, textiles, song, conversation and magazine cuttings which resonate with her on some level, she creates works which move fluidly between different media. The materials have usually had a past life such as wooden panels previously part of furniture or embroidered textiles which have seen better occasions. Through joyous transformative processes these objects and materials are reborn as part of something new.</p>
  <p>&nbsp;</p>
</div>
   <div class="editable">
     <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/636025441?h=45aa3d87bd&amp;color=efe200&amp;title=0&amp;byline=0&amp;portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" frameborder="0"></iframe></div>
     <script src="https://player.vimeo.com/api/player.js"></script>
     <p>Work &amp; Process- A film by Nicola Josse about my work</p>
   </div>
  <div class="editable">
    <h2>News</h2>
    <p>Recipient of <strong>Developing Your Creative Practice</strong> grant from <strong>Arts Council England</strong> for her project 'Developing ceramics as part of sculptural work in the context of museum collections'.</p>
    <h3>Recent Group Exhibition</h3>
    <p><strong><a target="_blank" rel="noopener" href="https://www.aptstudios.org/exhibitions_-groundwork21">Groundwork</a> at APT Gallery, London </strong></p>
    <h3>Recent Solo Exhibition</h3>
    <p><strong><a target="_blank" rel="noopener" href="https://www.darleandthebear.co.uk/my-life-as-a-bird-2021.asp">'My Life as a Bird'</a>&nbsp; at Darl-e and the Bear, Woodstock, Oxfordshire </strong>, exhibition essay by Uthra Rajgopal</p>
    <h3>Online Exhibitions</h3>
    <p><a target="_blank" rel="noopener" href="https://www.rwa.org.uk/collections/art-exhibitions/products/rwa-168-annual-open-exhibition?ct=t(annual-open-exhibition-tickets-released_COPY_01)&amp;mc_cid=942bd3aeaf&amp;mc_eid=ada5e00cbb"><strong></strong></a></p>
    <p><a target="_blank" rel="noopener" href="https://www.topainterstopaintings.com/online-gallery-submission"><strong>Topainterstoppaintings, curated by Althuis Holland Fine Arts</strong></a></p>
    <p><a target="_blank" rel="noopener" href="https://createmagazine.com/springing-forward-exhibition-2021"><strong>Springing FORWARD curated by Gita Joshi</strong></a></p>
    <p><strong></strong><strong><a target="_blank" rel="noopener" href="http://www.magdalenroadstudios.com/ornithologie">Ornithologie: Online</a></strong></p>
    <h3>Recent Texts</h3>
    <p>'<strong>I wish my hair was as long as yours</strong>' brochure includes 'Somewhere Else' an essay by Dr Stephanie Straine</p>
    <p><a href="/assets/E_Brochure.pdf">Download brochure (PDF)</a></p>
    <p><strong>Interview with Asian Curator: </strong><a target="_blank" href="http://asiancurator.com/madi-acharya-baskerville/">http://asiancurator.com/madi-acharya-baskerville/</a></p>
    <p><strong></strong></p>
  </div>
