---
layout: page
title: "Residencies"
permalink: /residencies/
thumb_crop: true
---
<div class="gallery">

{% assign galleries = site.residencies | where:"archive",false | sort: "order_number"   %}


{% for gallery in galleries %}

     <div class="gallery-box{% cycle '', '', ' last' %}">

          <a href="{{ gallery.permalink }}" title="{{ gallery.title }}">

            {% if page.thumb_crop %}

                <!-- cropped square images -->
                {% include img.html src=gallery.main_image_path width=200 height=200 fit=crop alt=gallery.title %}
                <!-- end cropped square -->

              {% else %}

                {% include img.html src=gallery.main_image_path width=600 fit=clip alt=gallery.title %}

              {% endif %}

              <p>{{ gallery.title }}</p>

          </a>

     </div>

{% endfor %}
</div>
