---
layout: default
---

<header id="content-header">
  <section id="page-title">
    <h2>{{ page.title }}</h2>
  </section>
</header>

<article id="content">


  {% if page.images[0].image_path %}
  <section class="gallery">
    {% for image in page.images %}
      {% if image.image_path %}
      <div class="gallery-box {% cycle 'alpha', '', 'last' %}">
        <a href="{% include imgpath.html src=image.image_path width=1280 %}" class="galleryphoto" data-lightbox="gallery" data-title="{{ image.image_title }} - {{ image.image_description }}">
          {% include img.html src=image.image_path width=200 height=200 fit=crop alt=image.image_title %}
        </a>
        <caption>{{ image.image_title }}</caption>
      </div>
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}

  <section class="main-content">
    {% if page.description_markdown %}{{ page.description_markdown | markdownify }}{% endif %}
  </section>

  {% if page.sounds %}
  <section>
    {% for sound in page.sounds %}
      {% if sound.audioid %}
          {% include soundcloud.html id=sound.audioid %}
        {% if sound.description %}
          <p class="description">{{ sound.description }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </section>
{% endif %}

{% if page.videos %}

    {% for video in page.videos %}
      {% if video.videoid %}
        {% include youtubeplayer.html id=video.videoid %}
        {% if video.description %}
          <p class="description">{{ video.description }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}

{% endif %}

</article>
